<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Public tracking servlets -->
	<servlet>
		<servlet-name>pixel</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.PixelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pixel</servlet-name>
		<url-pattern>/public/p.gif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>events</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.APIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>events</servlet-name>
		<url-pattern>/public/events</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>globalId</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.GlobalIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>globalId</servlet-name>
		<url-pattern>/public/globalId</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>optout</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.OptoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>optout</servlet-name>
		<url-pattern>/public/cookie</url-pattern>
	</servlet-mapping>
	
	<!--  Health-checking servlet -->
	<servlet>
		<servlet-name>isAlive</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.IsAliveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>isAlive</servlet-name>
		<url-pattern>/isAlive</url-pattern>
	</servlet-mapping>
	
	
	<!-- Internal Live View Console and handlers -->
	<servlet>
		<servlet-name>live</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.LiveDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>live</servlet-name>
		<url-pattern>/internal/live</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>flush</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.FlushServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flush</servlet-name>
		<url-pattern>/internal/flush</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>handlers</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.HandlersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>handlers</servlet-name>
		<url-pattern>/internal/handlers/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- Test -->
	<servlet>
		<servlet-name>nothing</servlet-name>
		<servlet-class>com.dataiku.wt1.controllers.NoopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nothing</servlet-name>
		<url-pattern>/public/nothing</url-pattern>
	</servlet-mapping>

	<!-- Initialization -->
    <listener>
        <listener-class>com.dataiku.wt1.standalone.InitializationListener</listener-class>
    </listener>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
